@font-face 
{
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
}

@font-face 
{
    font-family: Raleway-Medium;
    src: url(fonts/Raleway-Medium.ttf);
}

@font-face 
{
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face 
{
    font-family: RobotoCondensed-Regular;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

@font-face 
{
    font-family: RobotoBold;
    src: url(fonts/RobotoBold.ttf);
}

/* style reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
/*-------------*/

body
{
  cursor: default;
}

p
{
  font-family: RobotoCondensed-Regular;
  font-size: 20px;
}

h1
{
  font-family: Raleway-Bold;
  font-size: 36px; 
}

h2
{
  font-family: Raleway-Bold;
  font-size: 30px; 
}

h3
{
  font-family: Raleway-Medium;
  font-size: 24px; 
}

h4
{
  font-family: Raleway-Regular;
  font-size: 30px;
}

h5
{
  font-family: Raleway-Medium;
  font-size: 20px; 
}

.centerBlock
{
  width: 1140px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

.mainBlock
{
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.nav
{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 97px;
  z-index: 2;
  position: absolute;
}

.imgMain, .imgAbout, .imgTransfer
{
  z-index: -1;
  width: 1920px;
  left: calc(50% - 960px);
  position: absolute;
  top: -50px;
}

.navButton
{
  float: right;
  height: inherit;
  line-height: 97px;
  padding-right: 15px;
  padding-left: 15px;
  color: #FFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navButton:hover
{
  background-color: rgba(0, 0, 0, 0.4);
}

.mainText
{
  position: absolute;
  background-color: rgba(255, 255,255,0.9);
  height: 240px;
  width: 800px;
  left: calc(50% - 400px);
  text-align: center;
  top: calc(50% - 120px);
  -webkit-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.5);
}

#mainTextBig
{
  font-family: Raleway-Medium;
  font-size: 115px;
  color: #000;
  padding-bottom: 20px;
  padding-top: 30px;
}

#mainTextSmall
{
  font-family: RobotoCondensed-Regular;
  font-size: 30px;
  color: #000;
}

.logo
{
  height: 97px;
}

#moreButton
{
  position: absolute;
  width: 190px;
  height: 49px;
  background-color: rgba(255, 255, 255, 0.8);
  top: 75%;
  left: calc(50% - 95px);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#moreButton:hover
{
  background-color: rgba(255, 255, 255, 1);
}

#buttonText
{
  font-family: Raleway-Bold;
  font-size: 20px;
  line-height: 49px;
  text-align: center;
}

.serviceBlock
{
  background-color: #F0F0F0;
  height: 540px;
}

.serviceBlockType
{
  background-color: #FFF;
}

.templateBlock
{
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.templateBlock h1, .templateBlock p
{
  width: 760px;
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;
}

.serviceColom
{
  margin-top: 10px;
  width: 33.33%;
  height: 449px;
  float: left;
}

.serviceBlockType
{
  width: 358px;
  height: inherit;
  margin: 0 auto;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
  border: 0.5px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.serviceBlockType img
{
  width: 236px;
  position: absolute;
  left: calc(50% - 118px);
}

.serviceBlockType h4
{
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}

.serviceBlockType h4
{
  width: 100%;
  position: absolute;
  top: 55%;
  text-align: center;
}

.serviceBlockType p
{
  width: 80%;
  position: absolute;
  top: 65%;
  left: 10%;
  text-align: center;
}

.serviceBlockType:hover .serviceIcon
{
  opacity: 0;
}

.serviceBlockType:hover
{
  -webkit-box-shadow: 0 0 0 6px #B6D1DF;
          box-shadow: 0 0 0 6px #B6D1DF;
}

.aboutBlock
{
  overflow: hidden;
  height: 580px;
}

.aboutBlock h1
{
  color: #FFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.aboutContent
{
  width: 760px;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: calc(50% - 380px);
  padding-top: 30px;
  padding-bottom: 40px;
}

.aboutContent p
{
  width: 85%;
  text-align: center;
  line-height: 30px;
}

.contactsButton
{
  width: 190px;
  height: 49px;
  background-color: #000;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 95px);
  bottom: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.contactsButton p
{
  color: #FFF;
  text-align: center;
  line-height: 49px;
  width: 100%;
}

.contactsButton:hover
{
  background-color: rgba(0, 0, 0, 0.8);
}

.shoppingBlock
{
  height: 900px;
}

.shoppingNav
{
  width: 100%;
  height: 54px;
}

.shoppingTab
{
  float: left;
  width: calc(25% - 2px);
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin: 0 1px;
  border-top: 6px solid #DBDCDE;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.shoppingInfoContent
{
  position: relative;
  overflow: hidden;
  height: 770px;
  width: 100%;
}

.imgShopping
{
  z-index: -1;
  width: 1440px;
  left: calc(50% - 720px);
  position: absolute;
}

.shoppingTextBlock
{
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%;
  height: inherit;
  position: relative;
}

.shoppingTextBlock p
{
  width: 80%;
  text-align: left;
}

.shoppingText
{
  padding-top: 30px;
  line-height: 1.25em;
}

#riminiBlock, #boloniaBlock, #rg-markeBlock
{
  display: none;
}

.transferBlock
{
  overflow: hidden;
  height: 630px;
}

.transferBlock h1
{
  color: #FFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.transferContent
{
  width: 950px;
  height: 490px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: calc(50% - 475px);
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
}

.transferColom
{
  width: 475px;
  height: 400px;
}

.transferContent .transferColom:nth-child(1)
{
  position: absolute;
  top: 50px;
  left: 0;
}

.transferContent .transferColom:nth-child(2)
{
  position: absolute;
  top: 50px;
  right: 0;
}

#transferText
{
  position: absolute;
  width: inherit;
  height: 25px;
  line-height: 25px;
  padding: 0;
  bottom: 120px;
}

.transferColomTitle
{
  text-align: center;
  border-bottom: 1px solid #000;
  width: 400px;
  height: 25px;
  margin: 0 auto;
}

.transferPriceList
{
  padding-top: 30px;
  width: 400px;
  margin: 0 auto;
  font-family: RobotoCondensed-Regular;
  font-size: 20px;
}

.transferPriceListElem
{
  position: relative;
  height: 50px;
}

.transferPriceListElem img
{
  position: relative;
  top: 2px;
  width: 31px;
  height: 20px;
}

.transferPriceListElem div:nth-child(1)
{
  position: absolute;
  left: 0;
}

.transferPriceListElem div:nth-child(2)
{
  position: absolute;
  right: 0;
}

.kargoBlock
{
  height: 360px;
}

.kargoContent
{
  background-color: #F0F0F0;
  width: 950px;
  height: 220px;
  position: absolute;
  left: calc(50% - 475px);
  padding-top: 30px;
  padding-bottom: 40px;
}

.contacts
{
  height: 400px;
  overflow: hidden;
  position: relative;
}

.imgContact
{
  z-index: -1;
  width: 1920px;
  left: calc(50% - 960px);
  position: absolute;
}

.contactsContent
{
  width: 50%;
  height: inherit;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.cotactsText
{
  width: 475px;
  height: inherit;
  padding-left: 15px;
}

.cotactsText h1, .cotactsFixedText h1
{
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.contactsInfo
{
  width: 100%;
  padding-top: 50px;
}

.contactsInfo p, .subContactsInfo p
{
  text-align: center;
}

.contactsTel
{
  float: left;
  width: 150px;
}

.contactsInfo p:nth-child(2)
{
  padding: 0 20px 0 66px;
}

.contactsInfo p:nth-child(3)
{
  padding: 0 66px 0 20px;
}

.contactsInfo p:first-child, .subContactsInfo p:first-child
{
  font-family: RobotoBold;
  padding-bottom: 10px;
}

.contactsInfo p:nth-child(2), .contactsInfo p:nth-child(3), .subContactsInfo p:nth-child(2)
{
  padding-bottom: 25px;
}

.subContactsInfo
{
  width: 100%;
}

#bottomNav
{
  background-color: #000;
  height: 60px;
  position: relative;
}

.nrkkImg
{
  height: 25px;
  position: absolute;
  top: 18px;
  left: 110px;
}

.nrkkText
{
  position: absolute;
  line-height: 60px;
  left: 15px;
}

.rights
{
  position: absolute;
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  left: calc(50% - 75px);
}

#bottomNav p
{
  font-family: Raleway-Regular;
  font-size: 15px;
  color: #FFF;
}

.transparentLayer
{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.contactsFixed
{
  z-index: 4;
  width: 760px;
  height: 598px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 6px #B6D1DF;
          box-shadow: 0 0 0 6px #B6D1DF;
  position: fixed;
  left: calc(50% - 380px);
  top: calc(50% - 299px);
  display: none;
}

.imgContactsFixed
{
  z-index: -1;
  position: absolute;
}

.contactsFixedContent
{
  width: 475px;
  height: inherit;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.contactsFixedContent img
{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.cotactsFixedText .contactsInfo
{
  padding-top: 120px;
}

.imgXhover
{
  opacity: 0;
}

.imgXhover:hover
{
  opacity: 1;
}
