@font-face 
{
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
}

@font-face 
{
    font-family: Raleway-Medium;
    src: url(fonts/Raleway-Medium.ttf);
}

@font-face 
{
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face 
{
    font-family: RobotoCondensed-Regular;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

/* style reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
/*-------------*/

body
{
  cursor: default;
}

p
{
  font-family: RobotoCondensed-Regular;
  font-size: 20px;
}

h1
{
  font-family: Raleway-Bold;
  font-size: 36px; 
}

h2
{
  font-family: Raleway-Bold;
  font-size: 30px; 
}

h3
{
  font-family: Raleway-Medium;
  font-size: 24px; 
}

h4
{
  font-family: Raleway-Regular;
  font-size: 30px;
}

.centerBlock
{
  width: 1140px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

.mainBlock
{
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.nav
{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 97px;
  z-index: 2;
  position: absolute;
}

.imgMain, .imgAbout, .imgTransfer
{
  z-index: -1;
  width: 1920px;
  left: calc(50% - 960px);
  position: absolute;
  top: -50px;
}

.navButton
{
  float: right;
  height: inherit;
  line-height: 97px;
  padding-right: 15px;
  padding-left: 15px;
  color: #FFF;
  transition: all 0.3s;
}

.navButton:hover
{
  background-color: rgba(0, 0, 0, 0.4);
}

.mainText
{
  position: absolute;
  height: 200px;
  width: 1140px;
  text-align: center;
  top: calc(50% - 100px);
}

#mainTextBig
{
  font-family: Raleway-Medium;
  font-size: 115px;
  color: #FFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  padding-bottom: 20px;
}

#mainTextSmall
{
  font-family: RobotoCondensed-Regular;
  font-size: 30px;
  color: #FFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.moreButton
{
  position: absolute;
  width: 190px;
  height: 49px;
  background-color: rgba(255, 255, 255, 0.8);
  top: 75%;
  left: calc(50% - 95px);
  cursor: pointer;
  transition: all 0.3s;
}

.moreButton:hover
{
  background-color: rgba(255, 255, 255, 1);
}

#buttonText
{
  font-family: Raleway-Bold;
  font-size: 20px;
  line-height: 49px;
  text-align: center;
}

.serviceBlock
{
  background-color: #F0F0F0;
  height: 625px;
}

.serviceBlockType
{
  background-color: #FFF;
}

.templateBlock
{
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  /*overflow: hidden;*/
}

.templateBlock h1, .templateBlock p
{
  width: 760px;
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;
}

.colom
{
  margin-top: 10px;
  width: 33.33%;
  height: 449px;
  float: left;
}

.serviceBlockType
{
  width: 358px;
  height: inherit;
  margin: 0 auto;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
  border: 0.5px solid black;
  transition: all 0.3s;
}

.serviceBlockType img
{
  width: 236px;
  position: absolute;
  left: calc(50% - 118px);
}

.serviceBlockType h4
{
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}

.serviceBlockType h4
{
  width: 100%;
  position: absolute;
  top: 55%;
  text-align: center;
}

.serviceBlockType p
{
  width: 80%;
  position: absolute;
  top: 65%;
  left: 10%;
  text-align: center;
}

.serviceBlockType:hover .serviceIcon
{
  opacity: 0;
}

.serviceBlockType:hover
{
  box-shadow: 0 0 0 6px #B6D1DF;
}

.aboutBlock
{
  overflow: hidden;
  height: 580px;
  /*position: relative;*/
}

.aboutBlock h1
{
  color: #FFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.aboutContent
{
  width: 760px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: calc(50% - 380px);
  padding-top: 30px;
  padding-bottom: 40px;
}

.aboutContent p
{
  width: 85%;
  text-align: center;
  line-height: 30px;
}

.button
{
  width: 190px;
  height: 49px;
  background-color: #000;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.3s;
}

.button p
{
  color: #FFF;
  text-align: center;
  line-height: 49px;
  width: 100%;
}

.button:hover
{
  background-color: rgba(0, 0, 0, 0.8);
}

.imgAbout
{
  top: -120px;
}

.shoppingBlock
{
  height: 1030px;
}

.shoppingNav
{
  width: 100%;
  height: 54px;
}

.shoppingTab
{
  float: left;
  width: calc(25% - 2px);
  height: 45px;
  line-height: 45px;
  text-align: center;

  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-top: 9px solid #DBDCDE;
}

.shoppingTab:hover
{
  /*background-color: #F2F3F3;*/
  border-top: 9px solid #B6D1DF;
}

.shoppingInfoContent
{
  position: relative;
  overflow: hidden;
  height: 770px;
  width: 100%;
}


.imgShopping
{
  z-index: -1;
  width: 1440px;
  left: calc(50% - 720px);
  position: absolute;
}

.shoppingTextBlock
{
  background-color: rgb(255, 255, 255, 0.9);
  width: 60%;
  height: inherit;
}

.shoppingTextBlock h2
{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.shoppingTextBlock p
{
  width: 80%;
  text-align: left;
}

.transferBlock
{
  /*position: relative;*/
  overflow: hidden;
  height: 700px;
}

.transferHeaders 
{
  color: #FFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.transferContent
{
  width: 950px;
  background-color: rgba(255, 255, 255, 0.9);
  /*background-color: #F0F0F0;*/
  /*background-color: rgba(240, 240, 240, 0.9);*/
  position: absolute;
  left: calc(50% - 475px);
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  transition: all 0.3s;
}

/*.transferDestTitle
{
  width: 50%;
  text-align: center;
  position: absolute;
}*/

/*#from
{
  left: 20px;
}

#where
{
  right: 20px;
}*/

.transferFromColom, .transferWhereColom
{
  width: 25%;
  /*background-color: red;*/
  /*height: 500px;*/
}

.transferFrom
{
  width: 264px;
  height: 35px;
  background-color: #FFF;
  border: 0.5px solid #000;
  text-align: center;
  line-height: 35px;
}

.transferWhere
{
  width: 264px;
  height: 35px;
  background-color: #FFF;
  border: 0.5px solid #000;
  text-align: center;
  line-height: 35px;
}

.transferFrom:hover, .transferWhere:hover
{
  /*border: 9px solid #B6D1DF;*/
  border: 9px solid #DBDCDE;
}
